<nav>
  <a routerLink="home" routerLinkActive="active">
    <div class="nav-item">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </div>
  </a>
  <a routerLink="starred" routerLinkActive="active">
    <div class="nav-item">
      <mat-icon>star</mat-icon>
      <span>Starred</span>
    </div>
  </a>
  <a routerLink="shared" routerLinkActive="active">
    <div class="nav-item">
      <mat-icon>people</mat-icon>
      <span>Shared</span>
    </div>
  </a>
  <a routerLink="files" routerLinkActive="active">
    <div class="nav-item">
      <mat-icon>folder</mat-icon>
      <span>Files</span>
    </div>
  </a>
</nav>
